<a href="https://colab.research.google.com/github/Ranjana688/firstassignment/blob/main/assignment_DATA_STRUCTUREipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a code to reverse a string

In [2]:
str = "hello everyone"
reverse_str = str[::-1]
reverse_str

'enoyreve olleh'

2 Write a code to count the number of vowels in a string

In [14]:
str1 = "hello, I'm study python today"
vowel = "aeiouAEIOU"
cout =0
for i in str1:
  if i in vowel:
    cout +=1
print(cout)

7

3. Write a code to check if a given string is a palindrome or not

In [18]:
string = "madam"


if string == string[::-1]:
  print("string is palindrome")
else:
  print("string is not palindrome")

string is palindrome

4. Write a code to check if two given strings are anagrams of each other

In [21]:
str1 = "Silent"
str2 = "listen"

str_1 = str1.replace(" ","").lower()
str_2 = str2.replace(" ","").lower()
if sorted(str_1) == sorted(str_2):
  print(str1,"is anagram to ", str2)
else:
  print(str1,"is not anagram to ", str2)

Silent is anagram to  listen

5. Write a code to find all occurrences of a given substring within another string

In [26]:
STr = "hello"
substr = "l"
i=0
while i < len(STr):
  if STr[i]==substr:
    print(i)
  i+=1

2
3

6. Write a code to perform basic string compression using the counts of repeated characters

In [43]:
def compress_string(s):
    if not s:
        return ""

    compressed = []
    count = 1

    for i in range(1, len(s)):
        if s[i] == s[i - 1]:
            count += 1
        else:
            compressed.append(s[i - 1] + str(count))
            count = 1


    compressed.append(s[-1] + str(count))

    compressed_string = ''.join(compressed)


    return compressed_string if len(compressed_string) < len(s) else s

# Example usage
input_string = "aabcccccaaa"
result = compress_string(input_string)
print(f"Original string: {input_string}")
print(f"Compressed string: {result}")

TypeError: 'str' object is not callable

7 Write a code to determine if a string has all unique characters

In [23]:
def has_unique_characters(s):
    s = sorted(s)
    for i in range(len(s) - 1):
        if s[i] == s[i + 1]:
            return False
    return True


string = "abaadvraa"
print(f"Does '{string}' have all unique characters? {has_unique_characters(string)}")

Does 'abaadvraa' have all unique characters? False

8. Write a code to convert a given string to uppercase or lowercase

In [24]:
str= input("Enter the string")

print(str.upper())
print(str.lower())

Enter the stringranjANA
RANJANA
ranjana

9. Write a code to count the number of words in a string

In [28]:
str= input("Enter the string")

count = 0
for i in range(0,len(str)):
  count+=1
  if str[i] == " ":
    count-=1
print(count)

Enter the stringranjan a
7

10. Write a code to concatenate two strings without using the + operator

In [31]:
str1 = input("Enter the string1 ")
str2 = input("Enter the string2 ")
print(str1+" "+ str2)

Enter the string1 ranjana
Enter the string2 singh
ranjana singh

11. Write a code to remove all occurrences of a specific element from a list

In [39]:
lst = input("enter the list ")
element = int(input("enter the element"))

for i in range(0,len(lst)):
  if lst[i] == element:
    lst.pop(element)

enter the list 12345
enter the element5

12. Implement a code to find the second largest number in a given list of integers

In [44]:
def find_second_largest(nums):
    if len(nums) < 2:
        return None

    largest = second_largest = float('-inf')
    for num in nums:
        if num > largest:
            second_largest = largest
            largest = num
        elif num > second_largest and num != largest:
            second_largest = num

    return second_largest if second_largest != float('-inf') else None

    nums = [5, 2, 9, 1, 5, 6]
    second_largest = find_second_largest(nums)
    print(f"The second largest number in the list is: {second_largest}")

13. Create a code to count the occurrences of each element in a list and return a dictionary with elements as
keys and their counts as values

In [51]:
lst = [1,2,2,3,4,4,4,5,5,5,6,6,6,6,6,6,1]
counts = {}
for elem in lst:
  counts[elem] = counts.get(elem, 0) + 1
print(counts)

{1: 2, 2: 2, 3: 1, 4: 3, 5: 3, 6: 6}

14. Write a code to reverse a list in-place without using any built-in reverse functions

In [52]:
lst = [1,2,3,4,5,6,7,7,8]
r_list = lst[::-1]
print(r_list)

[8, 7, 7, 6, 5, 4, 3, 2, 1]

15. Implement a code to find and remove duplicates from a list while preserving the original order of
elements

In [55]:
def remove_duplicates(lst):
    seen = set()
    result = []
    for item in lst:
        if item not in seen:
            result.append(item)
            seen.add(item)
    return result


lst = [1, 2, 2, 3, 4, 4, 4, 5, 1]
result = remove_duplicates(lst)
print(f"Original list: {lst}")
print(f"List after removing duplicates: {result}")

Original list: [1, 2, 2, 3, 4, 4, 4, 5, 1]
List after removing duplicates: [1, 2, 3, 4, 5]

16. Create a code to check if a given list is sorted (either in ascending or descending order) or not

In [56]:
def is_sorted(lst):
    if len(lst) < 2:
        return True, "ascending"

    is_ascending = all(lst[i] <= lst[i + 1] for i in range(len(lst) - 1))
    is_descending = all(lst[i] >= lst[i + 1] for i in range(len(lst) - 1))

    if is_ascending:
        return True, "ascending"
    elif is_descending:
        return True, "descending"
    else:
        return False, None


lst1 = [1, 2, 3, 4, 5]
lst2 = [5, 4, 3, 2, 1]
lst3 = [1, 3, 2, 5, 4]

print(f"List: {lst1} -> Sorted: {is_sorted(lst1)}")
print(f"List: {lst2} -> Sorted: {is_sorted(lst2)}")
print(f"List: {lst3} -> Sorted: {is_sorted(lst3)}")

List: [1, 2, 3, 4, 5] -> Sorted: (True, 'ascending')
List: [5, 4, 3, 2, 1] -> Sorted: (True, 'descending')
List: [1, 3, 2, 5, 4] -> Sorted: (False, None)

17. Write a code to merge two sorted lists into a single sorted list

In [60]:
lst1 = [2,4,5,6,8,5,4]
lst2 = [1,4,5,6,7,8]
print(sorted(lst1))
print(sorted(lst2))
print(sorted(lst1+lst2))

[2, 4, 4, 5, 5, 6, 8]
[1, 4, 5, 6, 7, 8]
[1, 2, 4, 4, 4, 5, 5, 5, 6, 6, 7, 8, 8]

18.  Implement a code to find the intersection of two given lists

In [62]:
lst1 = [2,1,2,4,5]
lst2 = [1,4,5,6,7,2,8]
print(set(lst1) & set(lst2))

{1, 2, 4, 5}

19. Create a code to find the union of two lists without duplicates

In [63]:
lst1 = [2,1,2,4,5]
lst2 = [1,4,5,6,7,2,8]
print(set(lst1) | set(lst2))

{1, 2, 4, 5, 6, 7, 8}

20.  Write a code to shuffle a given list randomly without using any built-in shuffle functions

21. Write a code that takes two tuples as input and returns a new tuple containing elements that are
common to both input tuples

In [64]:
tup1 = (1,2,3,4,5)
tup2 = (4,5,6,7,8)
print(set(tup1) & set(tup2))

{4, 5}

22. Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the
intersection of these two sets

In [71]:
set1 = set(map(int, input("Enter the set1: ").split(",")))
set2 = set(map(int, input("Enter the set2: ").split(",")))
print(set1)
print(set2)
print(set(set1) & set(set2))

Enter the set1: 1,2,3,4,5
Enter the set2: 3,4,6,7,8,9
{1, 2, 3, 4, 5}
{3, 4, 6, 7, 8, 9}
{3, 4}

23. Write a code to concatenate two tuples. The function should take two tuples as input and return a new
tuple containing elements from both input tuples

In [72]:
def concatenate_tuples(tuple1, tuple2):

    return tuple1 + tuple2


tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
result = concatenate_tuples(tuple1, tuple2)

print(f"Tuple 1: {tuple1}")
print(f"Tuple 2: {tuple2}")
print(f"Concatenated Tuple: {result}")

Tuple 1: (1, 2, 3)
Tuple 2: (4, 5, 6)
Concatenated Tuple: (1, 2, 3, 4, 5, 6)

24. Develop a code that prompts the user to input two sets of strings. Then, print the elements that are
present in the first set but not in the second set

In [73]:
str1 = set(input("Enter the set1: ").split(","))
str2 = set(input("Enter the set2: ").split(","))
print(str1)
print(str2)
print(str1 - str2)

Enter the set1: a,p,p,l,e
Enter the set2: b,a,n,a,n,a
{'e', 'p', 'a', 'l'}
{'b', 'a', 'n'}
{'e', 'p', 'l'}

25. Create a code that takes a tuple and two integers as input. The function should return a new tuple
containing elements from the original tuple within the specified range of indices

In [76]:
str1 = tuple(input("Enter the set1: ").split(","))
str2 = tuple(input("Enter the set2: ").split(","))
print(str1)
print(type(str1))
print(str2)
print(str1+str2)

Enter the set1: 1,8,7,6,6
Enter the set2: 8,0,8,76,
('1', '8', '7', '6', '6')
<class 'tuple'>
('8', '0', '8', '76', '')
('1', '8', '7', '6', '6', '8', '0', '8', '76', '')

26. Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets

In [77]:
s=set(input("enter the set1 ").split(","))
s1=set(input("enter the set2 ").split(","))
print(s.union(s1))

enter the set1 1,7,9,9,8
enter the set2 7,9,5,4
{'5', '9', '4', '7', '1', '8'}

27. Develop a code that takes a tuple of integers as input. The function should return the maximum and
minimum values from the tuple using tuple unpacking

In [78]:
def find_max_min(input_tuple):
    # Use the built-in max() and min() functions
    max_value = max(input_tuple)
    min_value = min(input_tuple)
    # Return a tuple containing the max and min values
    return max_value, min_value

# Example usage
input_tuple = (3, 1, 4, 1, 5, 9, 2, 6, 5)
max_val, min_val = find_max_min(input_tuple)  # Tuple unpacking

print(f"Input Tuple: {input_tuple}")
print(f"Maximum Value: {max_val}")
print(f"Minimum Value: {min_val}")

Input Tuple: (3, 1, 4, 1, 5, 9, 2, 6, 5)
Maximum Value: 9
Minimum Value: 1